

  <section id="top-bar" class="p-3 bg-dark text-white">
    <div class="container bg-dark text-white">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> +44 123456789
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> contact@redbrix.com
        </div>
        <div class="col-md-4">
          <div class="social text-right text-white">
            <a href="#">
              <i class="fab fa-twitter text-white"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook text-white"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin text-white"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram text-white"></i>
            </a>
            <a href="#">
              <i class="fab fa-reddit text-white"></i>
            </a>
            <a href="#">
              <i class="fab fa-tripadvisor text-white"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest text-white"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>